{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog !{% endblock %}

{% block body %}
    {# REACT #}
    {% if app.user != null %}
        <div {{ react_component('Header', {'user': {"id":app.user.id, "name":app.user.username}}) }}></div>
    {% else %}
        <div {{ react_component('App', {'user': null}) }}></div>
    {% endif %}

    {# Post et le lien vers ce dernier #}
    {% for publication in publications %}
        <div {{ react_component('Publication', {'post': {"id":publication.id, "titre":publication.title, "resume":publication.summary}}) }}></div>
    {% endfor %}

    {# Boutons pour faire défiler les articles deux par deux #}
    {% if previous >= 0 %}
        <a href="{{ path('app_blog', { offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < nbPosts %}
        <a href="{{ path('app_blog', { offset: next }) }}">Next</a>
    {% endif %}
{% endblock %}
