{% extends 'base.html.twig' %}

{% block title %}{{publication}}{% endblock %}

 {% block body %}
    <a href="{{ path('app_login') }}">Connexion</a>

    {# Contenu du post #}
    <h2>{{publication}}</h2>
    <p>{{publication.content}}<p>

    {# Ajout de commentaires #}
    {# if app.user -> si l'utilisateur est connecté #}
    <h2>Ajouter un commentaire</h2>
    {% if app.user %}
        {{ form(comment_form) }}
    {% else %}
        <p>Veuillez vous connecter</p>
    {% endif %}

    {# Commentaires du post #}
    {% if comments|length > 0 %}
        {% for comment in comments %}
            <small>
                {{ comment.publishedAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.content }}</p>
        {% endfor %}

        {# Bouton d'affichage des commentaires
           Les commentaires s'affichent 2 par 2 #}
        {% if previous >= 0 %}
            <a href="{{ path('publication', { id: publication.id, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('publication', { id: publication.id, offset: next }) }}">Next</a>
        {% endif %}

    {% else %}
        <div>Il n'y a pas de commentaire pour cette publication.</div>
    {% endif %}
{% endblock %}