{% extends 'base.html.twig' %}

{% block title %}{{publication}}{% endblock %}

 {% block body %}
    <a href="{{ path('app_login') }}">Connexion</a>

    {# Contenu du post #}
    <h1>{{publication}}</h1>
    <p>{{publication.content}}<p>
    <a href="{{ path('utilisateur', { id: publication.auteur.id }) }}">{{publication.auteur}}</a>
    <a href="{{ path('app_blog') }}">Retour au site</a>

    {# Ajout de commentaires #}
    {# if app.user -> si l'utilisateur est connecté #}
    <h3>Ajouter un commentaire</h3>
    {% if app.user %}
        {{ form(comment_form) }}
    {% else %}
        <p>Veuillez vous connecter</p>
    {% endif %}

    {# Commentaires du post #}
    {% if comments|length > 0 %}
        {% for comment in comments %}
            <small>
                {{ comment.publishedAt|format_datetime('medium', 'short') }}
            </small>

            <a href="{{ path('utilisateur', { id: comment.auteur.id }) }}">{{comment.auteur}}</a>
            <p>{{ comment.content }}</p>
        {% endfor %}

        {# Bouton d'affichage des commentaires
           Les commentaires s'affichent 2 par 2 #}
        {% if previous >= 0 %}
            <a href="{{ path('publication', { id: publication.id, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('publication', { id: publication.id, offset: next }) }}">Next</a>
        {% endif %}

    {% else %}
        <div>Il n'y a pas de commentaire pour cette publication.</div>
    {% endif %}
{% endblock %}